.impressum {
    margin: 50px;
}

#linkimpressum h5 {
    color: var(--active-color);
}

.impressum h1 {
    text-align: center;
    text-shadow: 1px 1px 10px #45ad00;
    padding-top: 40px;
    padding-bottom: 40px;
}

.inhalt {
    margin: 20px;
}


.angaben {
    font-size: larger;
    font-weight: 600;
}

.strong {
    font-family: 'dancing script';
    font-size: 20px;
    font-weight: 900;
    padding: 10px;
    text-shadow: 1px 1px 1px aqua;
}

.stronger {
    font-size: 25px;
}


.info {
    padding-left: 30px;
}

.haftung {
    padding: 30px;
    max-width: 1500px;
}