* {
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
}



inhalt-start-seite {
    display: flex;
    flex-direction: column;
    padding-top: 40px;
}


nr-1 {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 100px;
}

Ueberschrift{

    display: flex;
    flex-direction: column;
    justify-content: center;
}

Ueberschrift h3, h1{
    font-family: 'dancing script' , sans-serif;
    text-align: center;
}

Ueberschrift h1 {
    font-size: 50px;
    text-shadow: var(--Ueberschrift-color-shadow-Campo-Verde);
    color: var(--Ueberschrift-color-h1);
}

Ueberschrift h3 {
    font-size: 25px;
    text-shadow: var(--Ueberschrift-color-shadow-Wilkommen);
}


.Info-Text-Startseite {
    padding: 50px;
    width: 50%;
}

.Info-Text-Startseite  {
    font-family: 'Alkatra' , sans-serif;
    max-width: 600px;
    color: #000;
}

.Info-Text-Startseite a {
    font-family: 'dancing script', sans-serif;
    font-size: 30px;
    color: #53950F;
    text-decoration: none;
}

.Bild-Startseite {
    width: 50%;
    height: 100%;
    max-width: 550px;
    border-radius: 10px 10px;
}



@media(max-width: 900px) {
    nr-1 {
        flex-direction: column;
        padding: 50px;
    }

    .Info-Text-Startseite {
        width: 100%;
    }

    .Bild-Startseite {
        width: 90%;
    }
}