* {
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
}


.bottom {
    background-color: var(--footer-background-color);
}


footer {
    padding-top: 30px;
    padding-bottom: 30px;
}

.inhalt-bottom {
    display: flex;
    align-items: stretch;
    justify-content: space-around;
    flex-wrap: wrap;
}

.inhalt-bottom h3 {
    color: var(--footer-überschriften-color);
}

.inhalt-bottom a {
    text-decoration: none;
}

.inhalt-bottom h5 {
    color: var(--footer-link-h5-color);
    padding-top: 15px;
    padding-left: 10px;
}

.inhalt-bottom h5:hover {
    transition: var(--transition-link-h5-hover);
    color: var(--footer-link-h5-hover-color);
}

#kontaktfooter {
    padding: 20px;
}

#Informationenfooter {
    padding: 20px;
}

#datenschutzfooter {
    padding: 20px;
}


copy {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    border-top: var(--copy-border-top);
}

copy h5{
    color: var(--copy-color);
    padding-left: 20px;
}

copy h6 {
    padding-top: 1px;
    color: var(--copy-color);
    padding-right: 20px;
}

copy a {
    text-decoration: none;
    color: var(--copy-color);
    font-size: 12px;
    transition: 1s;
}

#copyV a:hover {
    color: var(--copy-color-a-hover);
    text-shadow: var(--copy-shadow-a-hover);
    transition: 0.5s;
}

.Teknikator {
    color: var(--teknikator-name-color);
}

.Teknikator:hover {
    color: var(--teknikator-name-color-hover);
    text-shadow: var(--teknikator-name-shadow);
}


.not-available h5 {
    color: rgb(255, 0, 0);
}


@media(max-width: 550px) {
    #copyV {
        display: none;
    }
}