.slideshow {
    background-color: black;
    width: 50vw;
    height: 50vh;
    box-shadow: 0px 0px 10px #808080;
    position: relative;
    border-radius: 50px;
}

.slide {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: #000000;
    overflow: hidden;
    opacity: 0;
    transition: opacity 2s;
    border-radius: 50px;
}

.slide-bild {
    width: 100%;
}


.pfeil {
    position: absolute;
    top: 0;
    bottom: 0;
    font-size: 50px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 10%;
    color: rgba(255, 255, 255, 0.5);
    user-select: none;
    cursor: pointer;
}

.pfeil:hover {
    color: #ffffff;
}

.pfeil-links {
    left: 0;
}

.pfeil-rechts {
    right: 0;
}

.indikatorenliste {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    list-style-type: none;
    font-size: 40px;
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
}

.indikator {
    padding: 0 10px;
    user-select: none;
    cursor: pointer;
    opacity: 0.5;                    /*deckkraft eines Ellements*/
    transition: opacity 2s;
    color: #fff;
}

.aktiv {
    opacity: 1;
}