* {
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
}


#nava1 {
    color: var(--active-color);
}

info-ueber-uns {
    display: flex;
    flex-wrap: wrap;
}

.ueberschrift-ueber-uns {
    text-align: center;
    padding: 50px;
    width: 100%;
    color: #000;
    font-weight: 900;
    font-style: italic;
    font-size: 20px;
    background-color: linear-gradient(90deg,#979797, rgb(211, 211, 211));
}



person {
    padding: 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

person p {
    text-shadow: 1px 1px 5px #00cc3d5d;
}

.person1 {
    background:linear-gradient(90deg,#979797, rgb(211, 211, 211));
}

.person2 {
    background: linear-gradient(260deg,#979797, rgb(211, 211, 211));
}

.person3 {
    background: linear-gradient(90deg,#979797, rgb(211, 211, 211));
}

.person4 {
    background: linear-gradient(260deg,#979797, rgb(211, 211, 211));
}


.ueber-mich {
    max-width: 350px;
}

infos-person {
    padding: 50px;
}

bild-person img {
    width: 200px;
    height: 200px;
    border-radius: 100px;
}


/*Mitarbeiter Style*/

info-mitarbeiter {
    display: flex;
    flex-direction: column;
}

.unsere-mitarbeiter {
    text-align: center;
    margin-top: 50px;
    width: 100%;
    color: #000;
    font-weight: 900;
    font-style: italic;
    font-size: 20px;
    background-color: linear-gradient(90deg,#979797, rgb(211, 211, 211));
}

mitarbeiter {
    margin: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

mitarbeiter img {
    margin: 20px;
    max-height: 400px;
    max-width: 100%;
    border-radius: 20px;
    display: flex;
}



/*Verschiedene Bildschirmgrößen*/


@media (max-width: 700px) {
    bild-person img {
        width: 150px;
        height: 150px;
    }

    mitarbeiter img {
        max-height: 300px;
    }
}


@media (max-width: 550px) {

    person {
        padding: 0px;
    }

    bild-person img {
        margin: 30px;
    }

    .person1, .person3 {
        flex-direction: column-reverse;
    }

    .person2, .person4 {
        flex-direction: column;
    }

    mitarbeiter img {
        max-height: 300px;
    }
}