:root {
    --background-color: rgb(211, 211, 211);
    --Ueberschrift-color: 1px 1px 1px rgb(0, 255, 0);
}


/*Navigation*/
:root {
    --nav-background-color: #c2a159;
    --active-color: rgb(0, 255, 0);
    --nav-text-color: #1d7a00;
    --nav-darker-background-color: #e29b00;
    --dropdown-color: #af8428;
    --navbar-height: 120px;
    --nav-text-hover-color-transition: 1s;
}



/*Footer*/
:root {
    --footer-background-color: #c2a159;
    --footer-überschriften-color: #001141;
    --footer-link-h5-color: #114700;
    --footer-link-h5-hover-color: #000000;
    --transition-link-h5-hover: 0.5s;
    --copy-border-top: 3px solid #048000;
    --copy-color: #114700;
    --copy-color-a-hover: rgb(0, 255, 0);
    --copy-shadow-a-hover: 0 0 0.2em #000000, 0 0 0.2em #000000, 0 0 0.2em #000000;
    --teknikator-name-color: rgb(0, 132, 255);
    --teknikator-name-shadow: 1px 1px 10px rgb(0, 0, 0);
    --teknikator-name-color-hover: rgb(0, 0, 0);
}


/*Startseite*/
:root {
    --Ueberschrift-color-shadow-Campo-Verde: 1px 1px 1px rgb(0, 255, 0);
    --Ueberschrift-color-h1: #53950F;
    --Ueberschrift-color-shadow-Wilkommen: 1px 1px 1px #fff;
}


/*Versionen*/
:root {
    --transitiom-text-open: 0.5s;
}


/*Scrollbar*/

:root {
    --background-scrollbar: #0d4100;
    --background-scrollbar-track: #b4b4b4;
    --background-scrollbar-thumb: #073a00ea;
    --background-scrollbar-thumb-hover: #2d422d;
}