body {
    background: var(--background-color);
}

body {
    min-height: 100vh;
    font-family: 'Patrick Hand';
}

.campo-verde {
    font-family: 'Dancing Script';
    font-size: 30px;
    font-weight: 900;
    text-shadow: 1px 1px 1px#53950F;
    text-decoration: none;
}

  