
:root {
    --Überschrift-background-color: rgba(205, 134, 63, 0.3);
    --schrift-color-vorhebung:#177500;
}




datenschutz-inhalt {
    display: grid;
    grid-template-rows: 70px minmax(1000vh);
    grid-template-columns: 5% 40% 50% 5%;
}


ueberschrift-datenschutz {
    grid-row: 1/2;          /*wo es oben anfängt und unten aufhört*/
    grid-column: 2/4;       /*wo es links anfängt und rechts aufhört*/
}

datenschutz {
    grid-row: 2/3;          /*wo es oben anfängt und unten aufhört*/
    grid-column: 2/4;       /*wo es links anfängt und rechts aufhört*/
}

ueberschrift-datenschutz {
    padding-top: 20px;
    display: grid;
    justify-items: center;
}

ueberschrift-datenschutz h1 {
    font-family: Courgette, sans-serif ;
    text-shadow: var(--Ueberschrift-color);
    font-size: 50px;
    background: var(--Überschrift-background-color);
    border-radius: 20px;
    padding: 5px 20px;
}


ueberschrift-datenschutz-kategorien {
    display: grid;
    justify-content: flex-start;
}


datenschutz h3 {
    font-family: "dancing script";
    color: rgb(0, 0, 0);
    font-size: 25px;
    font-weight: 900;
    text-shadow: 0.5px 0.5px 0.5px rgb(0, 0, 0);
    margin-top: 30px;
    margin-bottom: 15px;
    background: #fff;
    border-radius: 10px;
    padding: 5px 20px;
    box-shadow: 2px 2px 2px rgb(92, 92, 92);
}



datenschutz h5 {
    color: rgba(0, 0, 0, 0.9);
    font-family: "Roboto";
    font-size: 15px;
    border-left: 5px solid #00ff22;
    background: linear-gradient(140deg, rgb(251, 255, 194), rgb(183, 228, 179),#d6a06a);
    padding: 10px;
    padding-left: 30px;
    margin-left: 20px;
}

datenschutz i {
    font-weight: 900;
    font-size: large;
    font-style: normal;
}

datenschutz ul {
    padding-left: 50px;
}

datenschutz li {
    list-style: circle;
    padding: 10px;
}

.z-liste {
    list-style-type: decimal;
}

.kontakt {
    border: 3px solid #000;
    padding: 30px;
    list-style: none;
    max-width: 700px;
}

.listestylenone {
    list-style: none;
    padding: 10px;
}

#listmglf {                                              /*liststyle liste mit einschub ohne punkt*/
    margin-left: 50px;
    padding: 5px;
    list-style-type: none;
}

#listmglfz {                                            /*liststyle liste mit Zahl*/
    padding: 5px;
    list-style-type: decimal;
}

#listmglfp {                                            /*liststyle liste mit circle*/
    padding: 5px;
    list-style-type: circle;
}

#listmglfb {
    padding: 5px;
    list-style-type: lower-alpha;
}

.ikd {
    border: 3px solid #000;
    margin: 30px;
    padding: 10px;
}

.ikd li {
    list-style: none;
    padding: 5px;
}

info-kaestchen-ueberschrift {
    display: grid;
    justify-content: flex-start;
}

.info-kaestchen-ueberschrift {
    background-color: #f0a763;
    border-radius: 10px;
    padding: 5px 10px;
    text-shadow: 0.5px 0.5px 0.5px rgb(146, 255, 146);
    box-shadow: 1px 1px 1px #ffffff; 
}

unterueberschrift-datenschutz-kategorien {
    display: grid;
    justify-content: flex-start;
}

.unterueberschrift-datenschutz-kategorien {
    font-size: medium;
    font-weight: 900;
    background-color: #9dff00;
    border-radius: 10px;
    padding: 5px 10px;
    text-shadow: 1px 1px 1px #fff;
    box-shadow: 0.5px 0.5px 1px #000;
}

.info-kaestchen-datenschutz {
    border-left: 3px solid #000;
    margin: 20px;
    margin-left: 30px;
    background-color: #87ca76;
    max-width: 1000px;
    padding: 10px;
}

.info-kaestchen-datenschutz li {
    list-style: none;
}

.limgrg {
    margin-left: 50px;
    padding: 10px;
}

.cliu {
    padding-top: 20px;
}

.cli {
    padding: 5px;
}


.info-text-fett-ueberschrift {
    font-weight: 900;
    font-size: larger;
    text-shadow: 0px 0px 0.5px #000;
}


.quelle {
    padding: 50px;
    color: #fff;
    font-size: large;
    font-weight: 900;
    text-shadow: 1px 1px 1px #000;
}


.quelleli {
    list-style: none;
}

.quelleli a {
    text-decoration: none;
}