inhalt-datenschutz {
    display: flex;
    flex-direction: column;
}

#linkdatenschutz h5 {
    color: var(--active-color);
}

h1 {
    text-align: center;
    text-shadow: 1px 1px 10px #45ad00;
    padding-top: 40px;
}

.datenschutz {
    padding: 2%;
    padding-left: 5%;
}

.datenschutz h2 {
    font-family: 'dancing script';
    margin-top: 80px;
    color: rgb(0, 0, 0);
    font-size: 30px;
}

.datenschutz h3 {
    font-family: 'dancing script';
    padding: 30px;
    color: rgb(0, 47, 255);
    font-size: 23px;
}

.datenschutz h4 {
    padding-left: 50px;
    color: rgb(36, 36, 36);
    font-family: 'Alkatra';
    font-weight: 100;
}

.datenschutz ul {
    margin: 20px;
    padding-left: 50px;
}

.datenschutz li {
    color: black;
    padding: 3px;
}

.datenschutz .bold {
    font-weight: 900;
    margin: 15px 0px 15px 0px;
}
