body {
    background: var(--background-color);
}


:root {
    --background-color: linear-gradient(140deg, rgb(255, 255, 255), rgb(175, 169, 169), rgb(110, 105, 105) );
    --Ueberschrift-color: 1px 1px 1px rgb(0, 255, 0);
}


/*Navigation*/
:root {
    --nav-background-color: #0d4100;
    --active-color: rgb(0, 255, 0);
    --nav-text-color: #ffffff;
    --nav-text-hover-color: #CD853F;
    --nav-text-hover-color-transition: 0.5s;
}



/*Footer*/
:root {
    --footer-background-color: #0d4100;
    --footer-überschriften-color: #ffffff;
    --footer-link-h5-color: #b6b5b5;
    --footer-link-h5-hover-color: #CD853F;
    --transition-link-h5-hover: 0.5s;
    --copy-color: #fff;
    --copy-color-a-hover: #CD853F;
    --teknikator-name-color: aquamarine;
    --teknikator-name-color-hover: rgba(127, 255, 212, 0.7);
}


/*Startseite*/
:root {
    --Ueberschrift-color-shadow-Campo-Verde: 1px 1px 1px rgb(0, 255, 0);
    --Ueberschrift-color-shadow-Wilkommen: 1px 1px 1px #fff;
}


/*Versionen*/
:root {
    --transitiom-text-open: 0.5s;
}


/*Scrollbar*/

:root {
    --background-scrollbar: #0d4100;
    --background-scrollbar-track: #b4b4b4;
    --background-scrollbar-thumb: #073a00ea;
    --background-scrollbar-thumb-hover: #2d422d;
}